{
  "extends": [
    "next",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react-hooks/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "react-hooks"],
  "root": true,
  "parserOptions": {
    "project": ["tsconfig.json"]
  },
  "rules": {
    "react-hooks/exhaustive-deps": "warn"
  }
}
