.col,
.row,
.rowDescription {
    margin: auto;
    justify-content: center;
}

.row {
    margin-top: 25px;
    margin-bottom: 10px;
}

@media screen and (min-width: 1024px) {
    .col {
        width: 70vw;
    }
}

@media screen and (min-width: 1400px) {
    .col {
        width: 60vw;
    }
}

@media screen and (min-width: 1700px) {
    .col {
        width: 50vw;
    }
}

.tabs {
    margin-top: 30px !important;
}